#main_site_header{
	padding: 0 12px;
	position:fixed;top: 0;left: 0;right: 0;z-index: 3;
	box-shadow: 1px 4px 12px rgba(0, 0, 0, .6);background-color: var(--lighter);
}
#main_site_header .inner_wrapper:has(#btn_menu){display:grid;grid-template-columns: minmax(48px, 60px) 1fr;place-items: center;}
#main_site_header div.social_network ul{display: flex;justify-content: space-between;flex-wrap: wrap;}

#logo, .custom-logo-link{position: relative;}
#logo{justify-self: center;font-size: 2em;font-weight: 700;padding: 27px 0;text-align: center;}
.custom-logo-link{display: block;text-align: center;}
.custom-logo-link img{width:auto;max-height: 32px;}
.custom-logo-link a{position: absolute;top: 0;left: 0;bottom: 0;right: 0;}

/*----------- NAVIGATION -------------*/
.btn_menu_container{display: inline-block;cursor: pointer;padding:20px 0px;justify-self: start;}
.logo_menu{
	margin-bottom: 40px;border-bottom: 2px solid #242424;padding-bottom: 10px;
	display: flex;justify-content: space-between;align-items: center;
}
.logo_menu .custom-logo-link{max-width: 250px;height:auto;}
.main_navigation{
    position: fixed;top: 0;left: 0;bottom: 0;
    z-index: 3;width: 0;background-color: white;padding:0;overflow: hidden;
		transition: width 0.125s ease-out, padding 0.125s ease-in;
}
.menu {text-align:left;}
.menu li{padding: 20px;border-bottom: 2px solid #242424;}
.open_nav{width:60%;padding: 12px;box-shadow: 2px 0px 8px rgba(0, 0, 0, .3);}

@media only screen and (min-width:720px){
	.main_navigation{max-width: 420px;}
}