.single_article{padding:24px 8px;max-width: 890px;margin:auto;}
.article_cat{background-color: var(--dark);color:var(--light);padding:4px 8px;border-radius: 4px;font-size: 1em;font-weight: 800;}
.main_heading{margin-top:12px;}
.subheading{font-size: 1em;line-height: 24px; font-weight: 500;color:var(--neutro);font-family: 'Manrope', sans-serif; }
.article_author{margin:24px 0;}
.article_figure{margin-bottom: 34px;}
.post_date{color: var(--neutro);padding-left: 12px;}
.article_content{font-size: 1.125em;line-height: 26px;margin:24px auto;max-width: 666px;padding-left: 12px;padding-right: 12px;}
.article_content h2, .article_content h3{font-weight: 800;margin-bottom:20px;font-size: 1.125em;line-height: 30px;}
.article_content p{margin-bottom: 24px;}
.article_content img{max-width: 100%;height: auto;margin-bottom:24px;}
.article_content .wp-block-image:has(figcaption){margin-bottom: 20px;}
.article_content .wp-block-image:has(figcaption) > figcaption{font-size: 12px;color: var(--neutro);line-height: 16px;}
.article_content .wp-block-image:has(figcaption) > img{margin-bottom: 0;}
.article_content div:has(img){max-width: 100%;}
.article_content div:has(img) > img{margin-bottom: 0;}
.article_figure figcaption, .article_content div:has(img) > p{font-size: 12px;color: var(--neutro);line-height: 16px;}
.wp-block-embed{margin-bottom:24px;}
.wp-block-embed figcaption{color: var(--neutro);font-size: 14px;font-weight: 400;}

.social_networks{position: fixed;left:0;bottom: 0;right: 0;background-color: var(--lighter);}
.social_networks ul{
  display: flex;justify-content: center;gap:14px;align-items: center;padding:16px 24px;
  box-shadow: 0px -4px 12px rgba(0,0,0,0.08);position: relative;
}
.clipboard span{
  position: absolute;bottom: 85px;left: 50%;transform: translateX(-50%);
  background-color: rgba(0,0,0,0.8);text-align: center;color: var(--lighter);
  padding: 8px 12px;border-radius: 4px;display: none;font-size: 14px;line-height: 20px;
}
.social_icon{
  background-color: var(--light);border-radius: 40px;padding:12px 20px;
  display: flex;justify-content: center;align-items: center;
}

.article_tag_list{display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: flex-start;gap:8px;}
.article_tag_list li{background-color: var(--light);padding:4px 8px;border-radius: 4px;font-size: 14px;text-transform: capitalize;}