.sidebar{padding: 20px 0; min-width: 250px; max-width: 420px;}
.sidebar_heading{
	background-color: var(--light);font-size: 1.5em;font-weight: 700;line-height: 24px;
	margin-bottom: 24px;padding:28px;font-family: 'Kaisei Decol', serif;text-align: center;
}
.sidebar_posts_pool{padding-left: 8px;padding-right: 8px;}
.sidebar_fig{margin:32px auto;}
.sidebar_fig h3{font-family: 'Kaisei Decol', serif;font-weight: 500;font-size: 1.5em;line-height: 24px;margin: 16px 0;}
.sidebar_fig p{font-weight: 500;font-size: 1em;line-height: 24px;color: var(--neutro);}
.sidebar_caption_title{text-align:left;font-size: 1.1em;font-weight: 500;line-height:1.6;}

@media only screen and (min-width:590px){
	.sidebar{max-width: 890px;margin:auto;}
	.sidebar_posts_pool{display:grid;grid-template-columns: repeat(2, 1fr);grid-column-gap: 12px;}
}

/* @media only screen and (min-width:720px){
	.sidebar_posts_pool{grid-template-columns: 1fr;}	
} */