:root{
	--dark: #000000;
	--neutro: #949aa4;
	--light:#f5f6f7;
	--lighter: #ffffff;
}

body{background-color:var(--lighter);font-family: 'Manrope', sans-serif;font-weight: 500;}
a{color:inherit;text-decoration:none;}
a:hover{color:var(--light);}

.clearfix:before, .clearfix:after {content:"";display:table;}
.clearfix:after {clear:both;}
.clearfix {zoom:1;}

/* .first{margin-left:0;padding-left:0;} */
/* .last{margin-right:0;padding-right:0;} */

/* .hidden{display:none;} */
/* .container {width:100%;max-width:1280px;margin:0 auto;position:relative;} */

.white_parr{color:var(--lighter);}
/* .black_parr{color:var(--dark);} */

.main_site_wrapper{padding-top: 114px;padding-left: 0;padding-right: 0;}

#facebook{background-image: url(../img/flogo-RGB-HEX-Blk-144.png);background-size: contain;background-position: center;background-repeat: no-repeat; }
#twitter{background-image: url(../img/Twitter_Social_Icon_Circle_Color.png);background-size: contain;background-position: center;background-repeat: no-repeat; }
#instagram{background-image: url(../img/glyph-logo_May2016.png);background-size: contain;background-position: center;background-repeat: no-repeat; }
#youtube{background-image: url(../img/youtube_social_circle_dark.png);background-size: contain;background-position: center;background-repeat: no-repeat; }

/* .social_network{padding: 24px 0;} */
/* .social_logos{width:30px; height: 30px; border:1px dotted cyan;} */

/*BASIC FIGURES*/
.image_frame{position: relative;aspect-ratio: 16 / 9;}
.image_frame img{width: 100%;height:auto;}
.image_frame a{position: absolute;left:0;top: 0;right:0;bottom: -1px;}

.generic_fig{background-color: var(--light); border-radius: 4px;overflow: hidden;max-width: 420px;}
.generic_figcaption{padding:12px}
.generic_fig_heading{line-height:1.4;font-size: 1.1em;}

/*BASIC CONTAINER*/
.posts_pool{display:grid;grid-template-columns: repeat(2, 1fr);grid-column-gap: 8px;grid-row-gap: 8px;}

/*BASIC HEADINGS*/
.main_heading{font-size: 30px;font-weight: 700;line-height: 40px;margin-bottom: 24px;letter-spacing: 0.25px;font-family: 'Kaisei Opti', serif;}
.subheading{font-size: 1em;line-height: 24px; font-weight: 500;color:var(--neutro)}
