body{background-color:#f9f9f9;font-family: 'Source Sans Pro';}
a{color:inherit;text-decoration:none;}
a:hover{color:#aaa;}

.clearfix:before, .clearfix:after {content:"";display:table;}
.clearfix:after {clear:both;}
.clearfix {zoom:1;}

.first{margin-left:0;padding-left:0;}
.last{margin-right:0;padding-right:0;}

.hidden{display:none;}
.container {width:100%;max-width:1280px;margin:0 auto;position:relative;}

.white_parr{color:#efefef;}
.black_parr{color:#222;}
/*#wpadminbar {z-index:999999999;}*/

#logo{background-image:url(../img/logo_cube.png);background-size: contain;width: 80px;height: 80px;background-position: center;background-repeat: no-repeat;position: relative;}
#logo a{position: absolute;top: 0;left: 0;bottom: 0;right: 0;}
#facebook{background-image: url(../img/flogo-RGB-HEX-Blk-144.png);background-size: contain;background-position: center;background-repeat: no-repeat; }
#twitter{background-image: url(../img/Twitter_Social_Icon_Circle_Color.png);background-size: contain;background-position: center;background-repeat: no-repeat; }
#instagram{background-image: url(../img/glyph-logo_May2016.png);background-size: contain;background-position: center;background-repeat: no-repeat; }
#youtube{background-image: url(../img/youtube_social_circle_dark.png);background-size: contain;background-position: center;background-repeat: no-repeat; }

.social_network{padding: 24px 0;}
.social_logos{width:30px; height: 30px; border:1px dotted cyan;}